<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.romariogi.kanjihour" android:versionCode="3" android:versionName="0.3.0-poco">
    <uses-sdk android:minSdkVersion="34" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <queries>
        <intent><action android:name="android.service.wallpaper.WallpaperService" /></intent>
    </queries>
    <application android:name=".KanjiApplication" android:label="Кандзи · час" android:icon="@drawable/ic_kanji" android:theme="@style/AppTheme" android:allowBackup="false" android:supportsRtl="false" android:usesCleartextTraffic="false">
        <service android:name=".RecoveryJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".KanjiWidgetProvider" android:exported="false">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/kanji_widget_info" />
        </receiver>
        <receiver android:name=".RefreshReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
